<div class="filters pull-right">
	<%= filter_select_field("by_city", "All Cities", {}.tap { |o| @cities.each {|city| o.merge!({city.id.to_s => city.name}) } }, {:icon => "icon-angle-down", :classes => "btn-white"}) unless @cities.nil? %>
	<%= filter_select_field("by_term", "All Keywords", {}.tap { |o| @terms.each {|t| o.merge!({t.id.to_s => t.name}) } }, {:icon => "icon-angle-down", :classes => "btn-white"}) %>
</div>