<% title "About" %>
<div class="row-fluid">
	<div class="span5">
		<div class="title-box">
			<h1 class="page-title">About</h1>
			<div class="sub">		
				<ul>
					<li>The Locations</li>
					<li>The Projects</li>
					<li>The Company</li>
				</ul>
			</div>
		</div>
		<p>Image Locations, Inc. keeps a simple vision: Provide the most exclusive locations to the entertainment industry with unparalleled professionalism.</p>
		
		<p>Showcasing privately owned properties and businesses with a multitude of styles, views, and decors, Image Locations has earned the loyalty of thousands of clients with their commitment to excellence and integrity. Initially specializing in photography, the company found considerable demand to expand into commercials, television, and feature films, and did so with the efficiency and vigor everyone has come to associate with Image Locations. Among their recent motion shoots were projects with CBS, Showtime, Bravo, NBC, and Warner Brothers. Combined with ongoing relationships with Vogue, Harper’s Bazaar, and GQ, among many others, Image Locations’ momentum continues to grow.</p>
		
		<p>Much of this success can be credited to the Image Locations staff, a union of diversity and creative energy. Among the location scouts, dedicated agents, the new locations department, permitting services, web programmers, and the art team, there is never a quiet moment, nor is there ever an idea that slips through the cracks. The wheels continuously turn at Image Locations, and the staff is always encouraged to think up the next revolutionary tool for the production/ location industry.</p>
		
	</div>
	<div class="span7">
	<iframe src="//fast.wistia.net/embed/iframe/tmy5947ilh?playerColor=000000&version=v1&videoHeight=338&videoWidth=597&videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="597" height="338"></iframe>
<script src='//fast.wistia.com/static/iframe-api-v1.js'></script>
	<%= image_tag "imagelocations/about/about-logos.jpg" %>
	<p>Image’s vast location library features homes designed by greats such as Pierre Koening, John Lautner, Ray Kappe, Richard Neutra, Steven Ehrlich, Edward Niles, Jose Palacios, Frank Gehry, and Frank Lloyd Wright. Commanding a firm hold on the greater Los Angeles area, Image continues to look to the future. Seeing a demand for further expansion, Image has set its sight on new territories: Santa Barbara, Palm Springs, Miami, and New York. True to their vision, Image will carry its commitment to excellence wherever it may go.</p>
	</div>
	<%= link_to contact_path, :class => "btn btn-inverse btn-contact" do %>
		<i class="icon-envelope"></i><i class="icon-phone"></i>&nbsp;Contact Us
	<% end %>
</div>