<% title("Contact") %>
<% bg_slides([{:image => image_path("weddingestates/bg/contact.jpg")}]) %>


<div class="row">
	<div class="span4 offset8">
		<div id="contact-info" class="text-center">
			<a class="italic" href="mailto:paulina@weddingestates.com">Paulina@WeddingEstates.com</a><br/>
			<span class="italic">Tel. (310) 422-9958</span><br/>
			~
			<address>
				<span class="small-caps">9663 Santa Monica Blvd.</span><br/>
				<span class="uppercase letter-space">Suite 842</span><br/>
				<span class="italic">Beverly Hills, CA 90210</span>
			</address>
			<a id="location-application-modal-toggle" class='modal-open' href="#location-application-modal">List Your Estate</a>
		</div>	
	</div>
</div>