<% cache(banner) do %>
	<div class="row-fluid row-grid">
		<div class="row-inner">
				<div class="content-info">
					<h4 class="name"><%= formatted_location_name(banner.location, "-") %></h4>
				</div>
				
				<div class="carousel-inner">
					<%= link_to location_path(banner.location), :class => ["item","active"] do %>
	
						<% unless banner.banner_entity_site_entity.banner_url.nil? %>
								<%= image_tag banner.banner_entity_site_entity.banner_url %>
							<% else %>
								<%= image_tag banner.location.current_asset_by_key(:extended).source_url unless banner.location.current_asset_by_key(:extended).nil?%>
						<% end %>
					<% end %>
				</div>
		</div>
	</div>
<% end %>