<div id="location-application-success-modal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		
		<h3 class="text-center"><span class="red">Thank you for your submission.</span></h3>
		<div class="text-center"><small>Someone will be in contact with you shortly.</small></div>
	</div>
</div>