<h1 class="page-title">List Your Home<span class="subtitle">Be a part of the largest location database in the world</span></h1>
<div id="location-application-form-container">
<%= render(:partial => "form", :locals => {:location_application => @location_application}) %>
</div>