<%= image_tag asset.source_url(key),options %>

<div id="<%= "asset-#{asset.id}-modal" %>" class="modal hide fade" tabindex="-1">
	<div class="modal-body">
		<%= image_tag asset.source_url %>

	</div>
</div>
