@import "partials/variables";
.pagination ul > li {
	&.info {
		margin-right: 5px;
	}
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 6px;
  line-height: $baseLineHeight;
  text-decoration: none;
  background-color: $paginationBackground;
  border: 1px solid $paginationBorder;
  border-left-width: 0;
}
