<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <p>IMAGE LOCATIONS would like to share a category with you.</p>
       <p><%= @email.body %></p>
       <h2><a href="<%= category_path(@category, :only_path => false)%>">View Category</a></h2>
  </body>
</html>