<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <p><%= @email.body %></p>
       <h2><a href="<%= download_images_location_path(@location, :version => @version, :only_path => false) %>">Download Images</a></h2>
  </body>
</html>