<p id="notice"><%= notice %></p>

<p>
  <b>Term name:</b>
  <%= @taxonomy_term.term_name %>
</p>

<p>
  <b>Taxonomy:</b>
  <%= @taxonomy_term.taxonomy_id %>
</p>

<%= link_to 'Back', taxonomy_terms_path %>
