<% title "Subscriptions" %>

<div class="row-fluid">
	<table class="table">
	<% @subscriptions.each do |subscription| %>
		<tr>
			<td><%= subscription.plan.name %></td>
			<td></td>
		</tr>
	<% end %>
	</table>
</div>