// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #959595 !default;

$link-color: #8BA9B4 !default;
$link-hover-color: darken($link-color, 10%) !default;
$link-visited-color: #8BA9B4 !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$container-width: 980px;
$container-padding: 30px;

$nav-height: 54px;


$grey: #BBBBBB;

$white: #FFFFFF;

$light-blue: #C5DBEB;

$bg-grey: #E3E3E3;

$red: #FA7A7A;
$mail-blue: #B3C8D7;
