$grid-margin: 5px;

.grid {
	position: relative;
	ul {
		margin: 0px 0px 0px -$grid-margin;
		padding: 0px;
		display: block;
		width: $container-width + $grid-margin;
		li {
			display: block;
			margin: 0px;
			padding: 0px;
			float: left;
			width: 33.3%;
			a {
				display: block;
				position: relative;
				overflow: hidden;
				img {
					
					display: block;
				}
				margin-left: $grid-margin;
				margin-bottom: $grid-margin;
				
			}
			
			&:nth-child(3n+1){
				clear: left;
				//@include opacity(.5);		
			}
		}
		
		@include clearfix;
	}
	
	padding-bottom: 20px;
	border-bottom: 1px dashed $grey;
	
}


.grid {
	ul {
		li {
			&.empty-link {
				a {
					cursor: default;
					.image-mask {
						
					}
				}
				.image-mask {
					position: absolute;
					display: none;
					height: 100%;
					width: 100%;
					z-index: 2;
					@include background-image(image-url('cat_rollover.png'));
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
			
			
		}
	} 
}