<h1 class="page-title"><i class="icon-tag"></i>&nbsp;Editing Category: <span><%= @category.name %></span></h1>

<%= render 'form' %>

<%= link_to 'Show', admin_category_path %> |
<%= link_to 'Back', admin_categories_path %>
