<h1 class="page-title"><i class="icon-tag"></i>&nbsp;Editing Tag: <span><%= @taxonomy_term.name %></span></h1>

<%= render 'form' %>

<%= link_to 'Show', @taxonomy_term %> |
<%= link_to 'Back', admin_taxonomy_terms_path %>
