<h1>Listing Locations</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Location Name</th>
    <th>Show</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= link_to 'Show', location %></td>
  </tr>
<% end %>
</table>